
APP_PORT=4000
APP_NAME=Demo-Express
APP_URL=http://localhost:4000

#frontend url react
FRONTEND_URL=http://localhost:3000

# pgsql
DB_HOST=127.0.0.1
DB_PORT=5433
DB_USER=postgres
DB_PASSWORD=abc123
DB_NAME=pg_eni_local

# jwt
JWT_SECRET=
JWT_EXPIRES_IN=



SMTP_HOST="smtp.mailtrap.io"      # Or smtp.gmail.com, smtp.sendgrid.net, etc.
SMTP_PORT=587                      # 587 (TLS) or 465 (SSL)
SMTP_SECURE=false                  # true for 465, false for other ports
SMTP_USER="your_smtp_username"
SMTP_PASS="your_smtp_password"
MAIL_FROM_ADDRESS="no-reply@yourdomain.com"
MAIL_FROM_NAME="My Express App"

# REDIS QUEUE
REDIS_HOST=
REDIS_PORT=
REDIS_PASSWORD=